button {
    font-weight: bold;
    color: var(--color-fg-button);
}

/*************************************/
/**********  Delete Button  **********/
.ButtonBase {
    /* position: relative; */
    /* width: 200px; */
    height: 50px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 1em;
    /* border: 0px solid transparent; */
    border: 1px solid rgba(172, 70, 255, 0.7);
    background-color: rgba(100, 77, 237, 0.08);
    border-radius: 1.25em;
    cursor: pointer;
    transition: 0.3s;
}

.ButtonBase svg {
    width: 25px;
    height: 25px;
    fill: var(--color-main-interface-fg);
    stroke: var(--color-main-interface-fg);
    /* padding: 1em; */
    transition: 0.3s;
}

.ButtonBase span {
    /* width: 150px; */
    color: var(--color-main-interface-fg);
    /* position: absolute; */
    padding: 1em;
    /* opacity: 0; */
    font-weight: bold;
    transition: 0.3s;
}

/* .ButtonPositive span {
    color: rgb(50, 231, 50);
    transition: 0.3s;
} */

/* .ButtonNegative span {
    color: rgb(231, 50, 50);
    transition: 0.3s;
} */

/* .ButtonBase:hover {
    width: 150px;
    transition: 0.3s;
} */

/* .ButtonBase:hover svg {
    opacity: 0;
    transition: 0.3s;
} */

/* .ButtonBase:hover span {
    opacity: 1;
    transition: 0.3s;
} */

.ButtonPositive:hover {
    border: 1px solid rgba(0, 255, 0, 0.7);
    background-color: rgba(0, 255, 0, 0.15);
    box-shadow: 0 0 4.9px rgba(0, 255, 0, 0.5),
        0 0 12px rgba(0, 255, 0, 0.5),
        0 0 25px rgba(0, 255, 0, 0.5),
        0 0 52.2px rgba(0, 255, 0, 0.5),
        0 0 143px rgba(0, 255, 0, 0.5);
    transition: 0.3s;
}

.ButtonNegative:hover {
    border: 1px solid rgba(255, 0, 0, 0.7);
    background-color: rgba(255, 0, 0, 0.15);
    box-shadow: 0 0 4.9px rgba(255, 0, 0, 0.5),
        0 0 12px rgba(255, 0, 0, 0.5),
        0 0 25px rgba(255, 0, 0, 0.5),
        0 0 52.2px rgba(255, 0, 0, 0.5),
        0 0 143px rgba(255, 0, 0, 0.5);
    transition: 0.3s;
}

.ButtonPositive:hover svg {
    fill: rgba(0, 255, 0, 1);
    stroke: rgba(0, 255, 0, 1);
    transition: 0.3s;
}

.ButtonNegative:hover svg {
    fill: rgba(255, 0, 0, 1);
    stroke: rgba(255, 0, 0, 1);
    transition: 0.3s;
}

.ButtonPositive:hover span {
    color: rgba(0, 255, 0, 1);
    transition: 0.3s;
}

.ButtonNegative:hover span {
    color: rgba(255, 0, 0, 1);
    transition: 0.3s;
}

.ButtonNegative:active {
    border: 1px solid rgba(255, 0, 0, 0.1);
    background-color: rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 4.9px rgba(255, 0, 0, 0.1),
        0 0 12px rgba(255, 0, 0, 0.1),
        0 0 25px rgba(255, 0, 0, 0.1),
        0 0 52.2px rgba(255, 0, 0, 0.1),
        0 0 143px rgba(255, 0, 0, 0.1);
    transition: 0.1s;
}

.ButtonPositive:active {
    border: 1px solid rgba(0, 255, 0, 0.1);
    background-color: rgba(0, 255, 0, 0.1);
    box-shadow: 0 0 4.9px rgba(0, 255, 0, 0.1),
        0 0 12px rgba(0, 255, 0, 0.1),
        0 0 25px rgba(0, 255, 0, 0.1),
        0 0 52.2px rgba(0, 255, 0, 0.1),
        0 0 143px rgba(0, 255, 0, 0.1);
    transition: 0.1s;
}

/* .DeleteButton:focus {
    width: 150px;
    transition: 0.3s;
}

.DeleteButton:focus svg {
    opacity: 0;
    transition: 0.3s;
}

.DeleteButton:focus span {
    opacity: 1;
    transition: 0.3s;
} */

.shipDelete {
    display: flex;
    justify-content: right;
}
/*************************************/
