
.svgIcons {
    fill: var(--color-svgIcons);
    --iconSize: 25px;
    width: var(--iconSize);
    height: var(--iconSize);
}

.cargoBox {
    stroke: var(--color-cargoBox-icon);
    margin: 0.25rem;
}

.emptyCargoBox {
    fill: transparent;
}

.fullCargoBox {
    fill: var(--color-cargoBox-full);
}
